/* global.css */
* {
    box-sizing: border-box;
}
html {
    font-size: 1.25em;
}
body {
    font-family: 'Work Sans', sans-serif;
}
h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
p {font-weight: 300;}
a {
    color: #939;
    text-decoration: none;
}
.wrap {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 .8rem;
}
header {
    background: #57496e;
    color: #fff;
    padding: 1rem 0;
    margin-bottom: 2rem;
}
.header--flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header--logo a {
    font-size: 1.25rem;
    color: #fff;
}
header li {
    display: inline-block;
    font-size: .8rem;
}
header nav a {
    color: #dbd;
    display: inline-block;
    margin-left: 10px;
}
header nav a:hover {
    color: #fff;
}
.course--module {
    background: #7c689b;
    border-radius: .5rem;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    display: block;
}
.course--label {
    color: rgba(255,255,255,.7);
    font-size: .9rem;
    font-weight: 400;
    margin-bottom: .25rem;
}
.course--title {
    color: #fff;
    font-weight: 700;
    font-size: 1.25rem;
}
.course--add--module {
    background: #cdc9d4;
    color: #57496e;
    font-weight: 300;
    font-size: 1.25rem;
}
.course--add--title .add {
    width: 20px;
    height: auto;
    margin-right: 5px;
    fill: #57496e;
}

.form--centered {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 .8rem;
}
form {
    margin-bottom: 2.5rem;
}
label {
    display: block;
    font-weight: 300;
    margin-bottom: .25rem;
}
input {
    display: block;
    width: 100%;
    color: #332a40;
    border-radius: .5rem;
    border: 1px solid #ccc4d8;
    padding: .5rem;
    margin-bottom: 1rem;
    font-family: 'Work Sans', sans-serif;
    font-size: .8rem;
}
input:focus, button:focus {
    border: none;
    border-radius: 0;
    outline: 2px solid #332a40;
}

.button {
    background: #7c689b;
    color: #fff;
    font-size: 1rem;
    padding: .75rem 1.5rem;
    border: 0;
    margin-right: .5rem;
    border-radius: .5rem;
    font-weight: bold;
    display: inline-block;
    transition: background 0.2s;
}
.button:not(.button-secondary):hover {
    background: #63537d;
    cursor: pointer;
}
  
.button-secondary {
    color: #7c689b;
    background: none;
    box-shadow: 0 0 0 2px #7c689b inset;
    transition: box-shadow 0.2s, color 0.2s;
}
.button-secondary:hover {
    color: #63537d;
    box-shadow: 0 0 0 2px #63537d inset;
    cursor: pointer;
}

@media screen and (min-width: 600px) {
    .main--grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1.5rem;
        grid-auto-rows: 1fr;
    }
}
@media screen and (min-width: 800px) {
    .main--grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}