/* global.css */
* {
    box-sizing: border-box;
}
html {
    font-size: 1.25em;
}
body {
    font-family: 'Work Sans', sans-serif;
}
h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
a {
    text-decoration: none;
}
.wrap {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 1rem;
}
header {
    background: #57496e;
    color: #fff;
    padding: 1rem 0;
    margin-bottom: 2rem;
}
.header--flex {
    display: flex;
    justify-content: space-between;
}
.header--logo a {
    font-size: 1.25rem;
    color: #fff;
}
header li {
    display: inline-block;
    font-size: .9rem;
}
header nav a {
    color: #dbd;
    margin-left: 1rem;
}
header nav a:hover {
    color: #fff;
}
.course--module {
    background: #7c689b;
    border-radius: .5rem;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    display: block;
}
.course--label {
    color: rgba(255,255,255,.7);
    font-size: .9rem;
}
.course--title {
    color: #fff;
    font-weight: 700;
    font-size: 1.25rem;
}
.course--add--module {
    background: #cdc9d4;
    color: #57496e;
    font-weight: 300;
    font-size: 1.25rem;
}
.course--add--title .add {
    width: 20px;
    height: auto;
    margin-right: 5px;
    fill: #57496e;
}

@media screen and (min-width: 600px) {
    .main--grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1.5rem;
        grid-auto-rows: 1fr;
    }
}
@media screen and (min-width: 800px) {
    .main--grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}